<%- include('partials/header', {title: 'Bootstrap Template'} ); %>
  <div class="contaner-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1>Hello, world! <span class="glyphicon glyphicon-bell"></span></h1>
      </div>
    </div>
  </div>
<%- include('partials/footer'); %>
